body {
    background: #d9f4f8;
    color: rgb(82, 79, 79);
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 100;
    font-size: 36pt;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

a:visited {
    color: rgb(82, 79, 79);
}

/* navigation menu */
/*black background*/
.navbar {
    background-color: rgb(65, 61, 61);
    overflow: hidden;
}
  
.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: rgb(144, 248, 208);
    color: black;
}
  
.navbar a.active {
    background-color: #fa8354;
    color: black;
}